In [1]:
import pandas as pd

In [72]:
adrc_before = pd.read_excel('../Before/adrc.xlsx')
adrc_after = pd.read_excel('../After/adrc.xlsx')

In [73]:
adrc_before.head()

,Address Number,from,Address Version,To,Title,Name,Name 2,Name 3,Name 4,Converted name (with form of address),...,Type of Delivry Service,Number of Delivery Service,County code,County,Township code,Township,County.1,Township.1,Business Purpose Completed Flag,Address notes
0,73364,0001-01-01,NaN,9999-12-31 00:00:00,8.0,ALFA LAVAL INDIA PRIVATE LIMITED,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,73379,0001-01-01,NaN,9999-12-31 00:00:00,8.0,AQUA ENGINEERING SERVICES,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,73385,0001-01-01,NaN,9999-12-31 00:00:00,8.0,ANEST IWATA MOTHERSON,PVT.LTD.,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,73400,0001-01-01,NaN,9999-12-31 00:00:00,8.0,AAF INDIA PVT LTD,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,73406,0001-01-01,NaN,9999-12-31 00:00:00,8.0,BANGALORE DOR-TECH,PVT LTD,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
# adrc_after['key'] = adrc_after.apply(lambda row: str(row['Supplier']) + str(row['Purch. Organization']), axis=1)

In [75]:
# adrc_before['key'] = adrc_before.apply(lambda row: str(row['Supplier']) + str(row['Purch. Organization']), axis=1)

In [76]:
adrc_before.set_index('Address Number', inplace=True)
adrc_after.set_index('Address Number', inplace=True)

In [77]:
adrc_before, adrc_after = adrc_before.align(adrc_after, join='inner', axis=0)

In [81]:
diffs = adrc_before.compare(
    adrc_after,
    keep_equal=False,      # only show changed cells
    keep_shape=True,       # retain full shape if you want blanks where no change
    result_names=('Before','After')
)

In [82]:
diffs.columns = [f"{col[0]} ({col[1]})" for col in diffs.columns]

In [83]:
# diffs.to_excel('../adrc_allData_changes.xlsx')
diffs.to_excel('../adrc_changes.xlsx')