In [1]:
import pandas as pd

In [115]:
lfm1_before = pd.read_excel('../Before/lfm1.xlsx')
lfm1_after = pd.read_excel('../After/lfm1.xlsx')

In [116]:
lfm1_before.head()

,Supplier,Purch. Organization,Created On,Created By,Purch. block for purchasing organization,Delete flag for purchasing organization,ABC indicator,Order currency,Salesperson,Telephone,...,Staging Time,MSME Status,MSME Number,MSME Issue Date,Import/Export Code,Tin Number,ABAC Status,ABAC Reason,ABAC Valid From,ABAC Valid To
0,1000000,5100,2014-04-17,BATCH_MM,NaN,NaN,NaN,INR,NaN,NaN,...,0,0.0,NO MSME,2023-09-15,NaN,NaN,NaN,NaN,NaT,NaT
1,1000005,5100,2014-04-17,BATCH_MM,NaN,NaN,NaN,INR,NaN,NaN,...,0,2.0,KR030067664,2021-05-28,NaN,NaN,NaN,NaN,NaT,NaT
2,1000005,5500,2022-12-13,BATCH_MM,NaN,NaN,NaN,INR,NaN,NaN,...,0,2.0,KR030067664,2021-05-28,NaN,NaN,NaN,NaN,NaT,NaT
3,1000007,5100,2014-04-17,BATCH_MM,NaN,NaN,NaN,INR,NaN,NaN,...,0,3.0,UP280000908,2020-07-24,NaN,NaN,COMPLAINT COMPLIANT,DOCUMENTS AVAILABLE,NaT,NaT
4,1000007,5500,2022-12-13,BATCH_MM,NaN,NaN,NaN,INR,NaN,NaN,...,0,3.0,UP280000908,2020-07-24,NaN,NaN,COMPLAINT COMPLIANT,DOCUMENTS AVAILABLE,NaT,NaT

In [117]:
lfm1_after['key'] = lfm1_after.apply(lambda row: str(row['Supplier']) + str(row['Purch. Organization']), axis=1)

In [118]:
lfm1_before['key'] = lfm1_before.apply(lambda row: str(row['Supplier']) + str(row['Purch. Organization']), axis=1)

In [119]:
lfm1_before.set_index('key', inplace=True)
lfm1_after.set_index('key', inplace=True)

In [120]:
lfm1_before, lfm1_after = lfm1_before.align(lfm1_after, join='inner', axis=0)

In [121]:
diffs = lfm1_before.compare(
    lfm1_after,
    keep_equal=True,      # only show changed cells
    keep_shape=True,       # retain full shape if you want blanks where no change
    result_names=('Before','After')
)

In [122]:
diffs.columns = [f"{col[0]} ({col[1]})" for col in diffs.columns]

In [123]:
diffs.to_excel('../lfm1_allData_changes.xlsx')
# diffs.to_excel('../lfm1_changes.xlsx')