In [81]:
from tqdm import tqdm
import pandas as pd
tqdm.pandas()

In [82]:
lfm1 = pd.read_csv('../Vendor/LFM1.csv')

C:\Users\abhena\AppData\Local\Temp\ipykernel_21212\2366480377.py:1: DtypeWarning: Columns (23,53,61,62) have mixed types. Specify dtype option on import or set low_memory=False.
  lfm1 = pd.read_csv('../Vendor/LFM1.csv')

In [83]:
lfb1 = pd.read_csv('../Vendor/LFB1.csv')

C:\Users\abhena\AppData\Local\Temp\ipykernel_21212\3013073598.py:1: DtypeWarning: Columns (12,19,44,59) have mixed types. Specify dtype option on import or set low_memory=False.
  lfb1 = pd.read_csv('../Vendor/LFB1.csv')

In [84]:
lfm1.head()

,Supplier,Last PO Date,Purch. Organization,Created On,Created By,Purch. block for purchasing organization,Delete flag for purchasing organization,ABC indicator,Order currency,Salesperson,...,Activity Profile,Transportation Chain,Staging Time,MSME Status,MSME Number,MSME Issue Date,Import/Export Code,Tin Number,ABAC Status,ABAC Reason
0,1000000,6/21/2024,5100,4/17/2014,BATCH_MM,NaN,NaN,NaN,INR,NaN,...,NaN,NaN,0,0.0,NO MSME,9/15/2023,NaN,NaN,NaN,NaN
1,1000001,1/21/2025,5100,4/17/2014,BATCH_MM,NaN,NaN,NaN,INR,NaN,...,NaN,NaN,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,1000001,1/21/2025,5500,7/23/2024,BATCH_MM,NaN,NaN,NaN,INR,NaN,...,NaN,NaN,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1000002,NO PO SINCE 01.01.2020,5100,4/17/2014,BATCH_MM,X,X,NaN,INR,NaN,...,NaN,NaN,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1000003,NO PO SINCE 01.01.2020,5100,4/17/2014,BATCH_MM,X,X,NaN,INR,NaN,...,NaN,NaN,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
def checkActive(table, row, *cols):
    res = False
    for col in cols:
        if pd.isnull(row[col]) or str(row[col]).strip() == '' or str(row[col]).lower() == 'nan':
            pass
        else:
            res = res or row[col] == 'X'
    return not res

In [86]:
lfm1['IsActive'] = lfm1.progress_apply(lambda row: checkActive(lfm1, row, 'Purch. block for purchasing organization', 'Delete flag for purchasing organization'), axis=1)

  0%|          | 0/16460 [00:00<?, ?it/s]

100%|██████████| 16460/16460 [00:00<00:00, 68227.77it/s]

In [87]:
lfb1['IsActive'] = lfb1.progress_apply(lambda row: checkActive(lfb1, row, 'Posting block for company code', 'Deletion Flag for Company Code'), axis=1)

100%|██████████| 16486/16486 [00:00<00:00, 80010.02it/s]

In [88]:
inactive = lfm1[lfm1['IsActive']==False]['Supplier'].to_list()

In [89]:
len(lfb1[lfb1['IsActive']==False]['Supplier'].to_list())

9693

In [90]:
inactive = inactive + lfb1[lfb1['IsActive']==False]['Supplier'].to_list()

In [91]:
a = '/sheet/123/data.csv'

In [92]:
a.split('/')[:-1]

['', 'sheet', '123']

In [93]:
a= ""

In [94]:
a == ''

True

In [95]:
a = "lfa1,lfb1"

In [96]:
a.split(',')

['lfa1', 'lfb1']

In [97]:
a

'lfa1,lfb1'

In [98]:
a = ['a', 'b', 'c']

In [99]:
for i, j in enumerate(a):
    print(i,j)

0 a
1 b
2 c

In [100]:
a = '/abc/123/abc.xlsx'

In [101]:
"/".join(a.split('/')[:-1])

'/abc/123'

In [102]:
df = pd.read_excel('../Outputs/Vendor/lfa1.xlsx', sheet_name='Results')

In [103]:
def preprocessOutput(df: pd.DataFrame, output_path=''):
    issueList = list(sorted(set([i.strip() for i in ','.join(df['Issues'].to_list()).split(',')])))
    return issueList

In [104]:
preprocessOutput(df)

["'City' should be in a standard format",
 "'City' should not be null",
 "'Name 1' should be in a standard format",
 "'Name 1' should be unique",
 "'Name 2' should be in a standard format",
 "'Name 2' should be unique",
 "'Name 2' should not be null",
 "'Name 3' should be in a standard format",
 "'Name 3' should not be null",
 "'Name 4' should not be null",
 "'P.O. Box Postal Code' should be valid as per Country",
 "'P.O. Box Postal Code' should not be null",
 "'PO Box' should be valid as per Country",
 "'PO Box' should not be null",
 "'Plant' should not be null",
 "'Postal Code' should be valid as per Country",
 "'Postal Code' should not be null",
 "'Street' should be in standard format",
 "'Street' should not be null",
 "'Tax Jurisdiction' should not be null",
 "'Tax Number 3' should be unique",
 "'Tax Number 3' should not be null",
 "'Telephone 1' should be in a standard format",
 "'Telephone 1' should be unique",
 "'Telephone 1' should not be null",
 "'Telephone 2' should be in a standard format",
 "'Telephone 2' should be unique",
 "'Telephone 2' should not be null"]

In [105]:
d = []

In [106]:
d.append({'sheet name': 'sheet name 1', 'count':1})
d.append({'sheet name': 'sheet name 3', 'count':5})

In [107]:
d

[{'sheet name': 'sheet name 1', 'count': 1},
 {'sheet name': 'sheet name 3', 'count': 5}]

In [108]:
da = pd.DataFrame(d)

In [109]:
da

     sheet name  count
0  sheet name 1      1
1  sheet name 3      5

In [110]:
import re

In [78]:
df = pd.read_excel('../Outputs/Vendor/lfa1.xlsx', sheet_name='Results')

In [127]:
def filter_issues(col, issues):
    filtered = issues.split(', ')
    res = []
    for i in filtered:
        if col in i:
            res.append(i)

    return ', '.join(res)

def preprocessOutput(df: pd.DataFrame, output_path):
    
    summary = [] 
    issueList = list(sorted(set([i.strip() for i in ','.join(df['Issues'].to_list()).split(',')])))
    print(issueList)
    i = 1
    with pd.ExcelWriter(output_path, engine='openpyxl') as writer:
        df.to_excel(writer, sheet_name='Results', index=False)
        for issue in issueList:
            filter_df = df[df['Issues'].str.contains(re.escape(f"{issue}"), na=False)]
            filter_df['Issues'] = filter_df['Issues'].progress_apply(lambda x: filter_issues(issue,x))
            print(f'Annexure {i}')
            summary.append({'S.No.' : f'Annexure {i}', 'Particulars' : issue, 'Total Records': filter_df.shape[0]})
            filter_df.to_excel(writer, sheet_name=f'Annexure {i}', index=False)
            i+=1
        summary = pd.DataFrame(summary)
        summary.to_excel(writer, sheet_name='Summary', index=False)
    return output_path

In [128]:
preprocessOutput(df,'../Outputs/result.xlsx')

["'City' should be in a standard format", "'City' should not be null", "'Name 1' should be in a standard format", "'Name 1' should be unique", "'Name 2' should be in a standard format", "'Name 2' should be unique", "'Name 2' should not be null", "'Name 3' should be in a standard format", "'Name 3' should not be null", "'Name 4' should not be null", "'P.O. Box Postal Code' should be valid as per Country", "'P.O. Box Postal Code' should not be null", "'PO Box' should be valid as per Country", "'PO Box' should not be null", "'Plant' should not be null", "'Postal Code' should be valid as per Country", "'Postal Code' should not be null", "'Street' should be in standard format", "'Street' should not be null", "'Tax Jurisdiction' should not be null", "'Tax Number 3' should be unique", "'Tax Number 3' should not be null", "'Telephone 1' should be in a standard format", "'Telephone 1' should be unique", "'Telephone 1' should not be null", "'Telephone 2' should be in a standard format", "'Telephone 2' should be unique", "'Telephone 2' should not be null"]

100%|██████████| 1653/1653 [00:00<00:00, 425531.49it/s]
C:\Users\abhena\AppData\Local\Temp\ipykernel_21212\3217130245.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filter_df['Issues'] = filter_df['Issues'].progress_apply(lambda x: filter_issues(issue,x))

Annexure 1

100%|██████████| 94/94 [00:00<00:00, 173684.84it/s]

Annexure 2

100%|██████████| 2584/2584 [00:00<00:00, 542120.93it/s]

Annexure 3

100%|██████████| 173/173 [00:00<00:00, 282890.68it/s]

Annexure 4

100%|██████████| 268/268 [00:00<00:00, 298876.22it/s]

Annexure 5

100%|██████████| 630/630 [00:00<00:00, 407402.33it/s]

Annexure 6

100%|██████████| 2081/2081 [00:00<00:00, 355881.38it/s]

Annexure 7

100%|██████████| 1/1 [00:00<00:00, 6009.03it/s]

Annexure 8

100%|██████████| 3021/3021 [00:00<00:00, 341324.58it/s]

Annexure 9

100%|██████████| 3022/3022 [00:00<00:00, 522192.84it/s]

Annexure 10

100%|██████████| 2/2 [00:00<00:00, 13294.15it/s]

Annexure 11

100%|██████████| 1497/1497 [00:00<00:00, 346153.21it/s]

Annexure 12

100%|██████████| 814/814 [00:00<00:00, 331279.20it/s]

Annexure 13

100%|██████████| 1659/1659 [00:00<00:00, 446907.54it/s]

Annexure 14

100%|██████████| 3022/3022 [00:00<00:00, 497222.14it/s]

Annexure 15

100%|██████████| 22/22 [00:00<00:00, 100517.09it/s]

Annexure 16

100%|██████████| 102/102 [00:00<00:00, 210333.83it/s]

Annexure 17

100%|██████████| 1714/1714 [00:00<00:00, 298127.11it/s]

Annexure 18

100%|██████████| 48/48 [00:00<00:00, 195083.91it/s]

Annexure 19

100%|██████████| 3022/3022 [00:00<00:00, 99178.31it/s]

Annexure 20

100%|██████████| 184/184 [00:00<00:00, 211728.93it/s]

Annexure 21

100%|██████████| 9/9 [00:00<00:00, 22767.63it/s]

Annexure 22

100%|██████████| 2540/2540 [00:00<00:00, 323953.42it/s]

Annexure 23

100%|██████████| 75/75 [00:00<00:00, 199475.46it/s]

Annexure 24

100%|██████████| 403/403 [00:00<00:00, 259926.88it/s]

Annexure 25

100%|██████████| 1719/1719 [00:00<00:00, 550929.06it/s]

Annexure 26

100%|██████████| 73/73 [00:00<00:00, 223492.11it/s]

Annexure 27

100%|██████████| 1229/1229 [00:00<00:00, 291412.72it/s]

Annexure 28

'../Outputs/result.xlsx'