In [1]:
from tqdm import tqdm
import pandas as pd
tqdm.pandas()

In [2]:
# lfa1 = pd.read_excel('../Vendor/VendorMaster.xlsx', sheet_name='LFA1')
# adrc = pd.read_excel('../Vendor/VendorMaster.xlsx', sheet_name='ADRC')
# pan = pd.read_excel('../Vendor/VendorMaster.xlsx', sheet_name='J1IMOVEND')
kna1 = pd.read_excel('../Customer/activeCustomerMaster.xlsx', sheet_name='KNA1')
acc = pd.read_excel('../Customer/activeCustomerMaster.xlsx', sheet_name='ACCOUNT')

In [6]:
kna1['Name 1'].str.title()

0        Fondation Synergie Lyon Cancer
1                     Aum Lifetech, Inc
2               Biocon Limited Sez Unit
3             Althera Life Sciences Llc
4                          Genkyotex Sa
                     ...
1692             Claris Injectables Ltd
1693        Debiopharm International Sa
1694                   Ade Therapeutics
1695                Astellas Pharma Llc
1696    Novartis Healthcare Pvt Limited
Name: Name 1, Length: 1697, dtype: object

In [ ]:
kna1.columns

Index(['Customer', 'Open Pipeline', 'All Time Customer', 'Open Project?',
       'Open Sales Order?', 'Open Invoices', 'Last Invoice Posting Date',
       'Country', 'Name 1', 'Name 2', 'City', 'Postal Code', 'Region',
       'Search term', 'Street', 'Telephone 1', 'Fax Number',
       'One-time account', 'Address', 'Name 1.1', 'Name 2.1', 'City.1',
       'Title', 'Central order block', 'Int. location no. 1',
       'Int. location no. 2', 'Authorization Group', 'Industry', 'Check digit',
       'Data line', 'Created on', 'Created by', 'Central billing block',
       'Alternative Payer', 'Corporate Group', 'Account group',
       'Customer classific.', 'Supplier', 'Central delivery block',
       'Central Deletion Flag', 'Name 3', 'Name 4', 'District', 'PO Box',
       'P.O. Box Postal Code', 'County Code', 'City Code',
       'Central posting block', 'Language Key', 'Tax Number 1', 'Tax Number 2',
       'Telebox Number', 'Telephone 2', 'Trading partner',
       'VAT Registration No.', 'Prospect', 'Industry Code 1',
       'Industry code 2', 'Attribute 1', 'Attribute 2', 'Attribute 6',
       'Tax Jurisdiction', 'Reference acct group',
       'Status of Data Transfer to Next Release', 'Non-milit. use',
       'Condition group 1', 'Tax Number 3', 'Tax Number 6',
       'Central sales block', 'URL', 'Central del.block', 'Name 1.2',
       'Name 2.2', 'ECGC Zone', 'IEC Number', 'Drug MFG/LIC Number',
       'Drug License validity', 'Customer Agr. Status', 'Date Format',
       'SalesforceID', 'Healthcare industry number',
       'Public Health Service (PHS) administers', 'HIN No Start Date',
       'HIN No End Date', 'PHS No Start Date', 'PHS No End Date', 'IsActive'],
      dtype='object')

In [41]:
acc[acc['IsActive']==False]['Open Pipeline'].value_counts()

Open Pipeline
False    8495
Name: count, dtype: int64

In [ ]:
adrc.apply(lambda row: print('To' in row.index.to_list()), axis=1)

In [4]:
adrc_required = adrc[['Address Number', 'Postal Code', 'Street', 'Street 2', 'Street 3', 'Street 4', 'Street 5', 
                          'Postal Code', 'PO Box Postal Code', 'PO Box']]
right = lfa1[['Supplier', 'Address']]
adrc = pd.merge(adrc_required, right, how='left', left_on='Address Number', right_on='Address')

In [12]:
lfa1[lfa1['Supplier']==1000001]['City'].to_list()[0].title()

'Bangalore'

In [8]:
adrc

,Address Number,Postal Code,Street,Street 2,Street 3,Street 4,Street 5,Postal Code,PO Box Postal Code,PO Box,Supplier,Address
0,73155,560048,"SURVEY NO.193,",HOODDY VILLAGE,WHITE FIELD ROAD,GANGANAGAR EXTENSION,NaN,560048,560048,560048,1000696,73155
1,73158,400058,501-502 WATERFORD BUILDING,"501, WATERFORD BLDG","C WING,C D BARFIWALA MARG",NaN,NaN,400058,NaN,NaN,1000697,73158
2,73161,500034,"Flat No. 203, L.N's. Harmony Park",Door No. 8-2-334/1/1,"Road No.5, Banjara Hills",NaN,NaN,500034,500034,500034,1000698,73161
3,73364,411012,"MUMBAI-PUNE ROAD,",DAPODI,PUNE,NaN,NaN,411012,411012,NaN,1000000,73364
4,73367,560055,"No. 68,","CHITRAPUR BHAVAN,","8TH MAIN, 15TH CROSS,MALLESWARAM",NaN,NaN,560055,560055,BANGALORE,1000001,73367
...,...,...,...,...,...,...,...,...,...,...,...,...
14489,9661271,560038,"221, 13th Cross Rd","Indira Nagar 1st Stage, Hoysala Nagar","Indiranagar, Bengaluru",NaN,NaN,560038,NaN,NaN,1025690,9661271
14490,9672927,562106,Ward no 05,"2nd cross , wavers colony",Anekal,Bengaluru,NaN,562106,NaN,NaN,1025702,9672927
14491,9672928,560034,"No 37, 6th Cross, 7th main",S T Bed,"Friends colony, Koramangala",Bengaluru Urban,NaN,560034,NaN,NaN,1025705,9672928
14492,9675767,562117,Srinivasa nilaya,P P Hospital road 4th cross,Hanumantha nagar kanakapura,Kanakapura rural,NaN,562117,NaN,NaN,1025703,9675767
14493,9675768,583121,12,1th ward,Panchaiti katta hattira,Saggada ony,"Kenchagudda, Sirguppa",583121,NaN,NaN,1025704,9675768