In [1]:
from tqdm import tqdm
import pandas as pd
tqdm.pandas()

In [2]:
lfm1 = pd.read_csv('../Vendor/LFM1.csv')

C:\Users\abhena\AppData\Local\Temp\ipykernel_19796\2366480377.py:1: DtypeWarning: Columns (22,52,60,61) have mixed types. Specify dtype option on import or set low_memory=False.
  lfm1 = pd.read_csv('../Vendor/LFM1.csv')

In [14]:
lfb1 = pd.read_csv('../Vendor/LFB1.csv')

C:\Users\abhena\AppData\Local\Temp\ipykernel_19796\3013073598.py:1: DtypeWarning: Columns (11,18,43,58) have mixed types. Specify dtype option on import or set low_memory=False.
  lfb1 = pd.read_csv('../Vendor/LFB1.csv')

In [3]:
lfm1.head()

,Supplier,Purch. Organization,Created On,Created By,Purch. block for purchasing organization,Delete flag for purchasing organization,ABC indicator,Order currency,Salesperson,Telephone,...,Activity Profile,Transportation Chain,Staging Time,MSME Status,MSME Number,MSME Issue Date,Import/Export Code,Tin Number,ABAC Status,ABAC Reason
0,1000000,5100,4/17/2014,BATCH_MM,NaN,NaN,NaN,INR,NaN,NaN,...,NaN,NaN,0,0.0,NO MSME,9/15/2023,NaN,NaN,NaN,NaN
1,1000001,5100,4/17/2014,BATCH_MM,NaN,NaN,NaN,INR,NaN,NaN,...,NaN,NaN,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,1000001,5500,7/23/2024,BATCH_MM,NaN,NaN,NaN,INR,NaN,NaN,...,NaN,NaN,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1000002,5100,4/17/2014,BATCH_MM,X,X,NaN,INR,NaN,NaN,...,NaN,NaN,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1000003,5100,4/17/2014,BATCH_MM,X,X,NaN,INR,NaN,NaN,...,NaN,NaN,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
def checkActive(table, row, *cols):
    res = False
    for col in cols:
        if pd.isnull(row[col]) or str(row[col]).strip() == '' or str(row[col]).lower() == 'nan':
            pass
        else:
            res = res or row[col] == 'X'
    return not res

In [5]:
lfm1['IsActive'] = lfm1.progress_apply(lambda row: checkActive(lfm1, row, 'Purch. block for purchasing organization', 'Delete flag for purchasing organization'), axis=1)

100%|██████████| 16460/16460 [00:00<00:00, 55900.05it/s]

In [15]:
lfb1['IsActive'] = lfb1.progress_apply(lambda row: checkActive(lfb1, row, 'Posting block for company code', 'Deletion Flag for Company Code'), axis=1)

100%|██████████| 16486/16486 [00:00<00:00, 73583.50it/s]

In [30]:
inactive = lfm1[lfm1['IsActive']==False]['Supplier'].to_list()

In [38]:
len(lfb1[lfb1['IsActive']==False]['Supplier'].to_list())

9693

In [40]:
inactive = inactive + lfb1[lfb1['IsActive']==False]['Supplier'].to_list()